# Dependencies
node_modules/

# Build output
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.tsbuildinfo
coverage/
